---
import Base from '../../layouts/Base.astro'
import ServiceCard from '../../components/serviceCard.astro'
import services from '../../data/services.json'
import coverSVG from '../assets/svg/undraw/undraw_contact_us.svg'
import socialImage from '../assets/undraw/undraw_contact_us.png'
import { SiteMetadata } from '../../config'
import { Link } from 'astro-link'
import PageHero from '../../components/pagehero.astro'

const frontmatter = {
  title: 'Servicios',
  description: 'Nuestra presencia es real y digital. Conozca mis servicios.',
  coverSVG: coverSVG,
  socialImage: socialImage,
  publishDate: SiteMetadata.buildTime
}
---

<Base frontmatter={frontmatter}>
  <header>
    <PageHero
      title={frontmatter.title}
      description={frontmatter.description}
      coverSVG={coverSVG}
      socialImage={socialImage}
    />
  </header>
  <main>
    <section class='mx-auto mb-20 max-w-7xl text-gray-800 dark:text-gray-100'>
      <div class='container'>
        <div class='row items'>
          <div class='col-12'>
            <div class='section-heading heading-center'>
              <h1>Nuestros Servicios</h1>
            </div>
          </div>
          {
            services && services.map(({info, className}) => (
              <ServiceCard
                title={info.title}
                description={info.description}
                icon={info.icon}
                className={className}
              />
            ))
          }
        </div>
      </div>
    </section>
  </main>
</Base>
