---
import type { CollectionEntry } from 'astro:content'
import { Frontmatter } from '../config'
import Base from './base.astro'
import BlogHero from '../components/bloghero.astro'
import NextPrev from '../components/nextprev.astro'
import Images from '../components/images.astro'
import { Blog } from 'schema-dts'
import Socialshare from '../components/socialshare.astro'

export interface Props {
  frontmatter: Frontmatter
  post: Blog
  url: string | URL
  prev?: CollectionEntry<'blog'>
  next?: CollectionEntry<'blog'>
}

// const { post, url } = Astro.props
const { frontmatter, prev, next } = Astro.props
---

<Base frontmatter={frontmatter}>
  <main class='dark:bg-black'>
    <article class='post'>
      <header>
        <BlogHero frontmatter={frontmatter} />
      </header>
      <section
        class='prose prose-purple mx-auto my-8 max-w-screen-lg px-4 lg:prose-xl dark:prose-invert lg:px-0'
      >
        {frontmatter.images && <Images images={frontmatter.images} />}
        <slot />

        <Socialshare />
      </section>
    </article>
  </main>
  <NextPrev
    slot='before-footer'
    base={import.meta.env.BASE_URL + 'blog/'}
    prev={prev}
    next={next}
  />
</Base>
