---
import type { CollectionEntry } from 'astro:content'
import { Frontmatter } from '../config'
import Base from './base.astro'
import BlogHero from '../components/bloghero.astro'
import NextPrev from '../components/nextprev.astro'
import Images from '../components/images.astro'
import { Service } from 'schema-dts'
import Socialshare from '../components/socialshare.astro'

export interface Props {
  frontmatter: Frontmatter
  servicio: Service
  url: string | URL
  prev?: CollectionEntry<'servicios'>
  next?: CollectionEntry<'servicios'>
}

const { frontmatter, prev, next } = Astro.props
---

<Base frontmatter={frontmatter}>
  <main class='dark:bg-black'>
    <article class='post'>
      <header>
        <BlogHero frontmatter={frontmatter} />
      </header>
      <section
        class='prose prose-purple mx-auto my-8  px-4 lg:prose-xl dark:prose-invert lg:px-0'
      >
        {frontmatter.images && <Images images={frontmatter.images} />}
        <slot />

        <Socialshare />
      </section>
    </article>
  </main>
  <NextPrev
    slot='before-footer'
    base={import.meta.env.BASE_URL + 'servicios/'}
    prev={prev}
    next={next}
  />
</Base>
